@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --prime:#4a80f5;
  --second:#f18d00;
}
html{
  font-size: 85%;
}
body{
  background-color: var(--prime);
}
.head{
  width: 100%;
  height: 80vh;
  color: var(--second);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f18d00;
  text-align: center;
  gap: 50px;
  flex-direction: column;
}

.search .input{
  width: 800px;
  height: 40px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: #ffffff;
  padding: 6px;
  color: var(--second);
  font-size: 1.4rem;
  padding-left: 20px;
}

.search button{
  height: 50px;
  width: 50px;
  padding: 6px;
  background-color: var(--second);
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  transition: 0.5s;
}

.search button:hover{
  scale: 1.2;
  color: black;
}

.text h1{
  font-size: 4rem;
  color: #fff;
}

.text h2{
  font-size: 2rem;
  color: #fff;
  margin-top: 1.4rem;
}

.cont{
  width: 70%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4,minmax(200px,0.5fr));
  grid-gap: 80px;
  box-sizing: border-box;
  padding: 10px;
}



.book:hover{
  scale: 1.01;
}

.book img{
  width: 240px;
  height: 280px;
}

.book_main{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  max-height: 560px;
  position: relative;
}

.book{
  background-color: #ff0000;
  border-radius: 1rem;
  padding: 8px;
  margin-bottom: -40px;
  box-sizing: border-box;
  transition: .2s;
  text-align: center;
  /* position: absolute; */
  cursor: pointer;
  margin-left: 20px;
  height: 400px;
  /* min-height: 500px; */
  display: flex;
  /* align-items: flex-end; */
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
}

.book_main p{
  background-color: var(--second);
  padding: 5px; 
}

.down{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.down h3{
  margin-bottom: 10px;
}

.preview{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inside{
  background-color: aqua;
  width: 1000px;
  height: 600px;
  padding: 30px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.inside .close{
  position: absolute;
  top: 30px;
  right: 30px;
  outline: none;
  border: none;
  color: black;
  background-color: transparent;
  font-size: 3rem;
  cursor: pointer;
}